html,
body {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.full-screen{
    height: 100%;
    overflow: hidden;
}

#stripe{
    flex: 0 0 auto;
}

.vertical-box{
    display: flex;
    flex-direction: column;
}

.horizontal-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

#logo *{
    margin: 0 10px;
    line-height: auto;
}

#logo h1{
    text-shadow: 0px 1px 1px #636e72;
}

.side-borders{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

nav a{
    text-decoration: none;
    font-size: 18pt;
    color: #000;
    padding: 0 10px;
}

.rest-of-page{
    flex:1 1 0;
}

#carousel{
    max-height: 100%;
}

.carousel-caption{
    bottom: 35% !important;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 14pt;
    padding: 5px !important;
}

.carousel-caption h3{
    font-size: 20pt;
    font-weight: 400;
}

.crop {
    display: inline-block;
    width: 280px;
    height: 280px;
    transition: transform .2s;
    overflow: hidden;
}

.zoom {
    min-height: 280px;
    min-width: 280px;
    max-width: 300px;
}

.crop:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.image-container {
    display: block;
    text-align: center;
    overflow: auto;
    padding: 0;
    margin: 0 2% 2% 2%;
}

.center-text {
    text-align: center;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

h1.playfair {
    font-size: 300%;
    font-weight: 700;
}

p.raleway {
    font-size: 150%;
    margin: 1% 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.previous {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.next {
    position: absolute;
    top: 50%;
    right: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus,
.next:hover,
.next:focus,
.previous:hover,
.previous:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.creator{
    text-align: center;
}

#customizer img{
    height: 200px;
    width: 200px;
}

#customizer-menu .selectable:hover{
    cursor: pointer;
    background-color: #ecf0f1;
}

#customizer-menu .selected{
    background-color: #000000;
    color: #fff;
}

#customizer-current{
    margin: 50px 0;
}

#customizer-current .selectable, #customizer-current .selected{
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}

#customizer-menu{
    margin: 15px 0;
    height: auto;
}

#customizer-menu div{
    display: inline-block;
    padding: 0px 15px;
    border: 1px solid #bdc3c7;
    border-radius: 15px;
    margin: 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#customizer-menu h2{
    line-height: 10px;
}

#customizer span{
    margin: 10px 0px;
}

.options .selectable{
    height: 200px;
    width: 200px;
    position: relative;
}

.options .selectable *{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.alt-text{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    line-height: 200px;
    background:  rgba(0, 0, 0, 0.616);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.options .selectable:hover{
    cursor: pointer;
    position: relative;
    height: 200px;
    widows: 200px;
}

.options .selectable:hover .alt-text{
    visibility: visible;
    opacity: 1;
}

.options{
    margin: 20px;
    overflow-y: auto;
}

.hide{
    display: none;
}

#customizer-info h3{
    font-weight: 100 !important;
    font-size: 24pt;
    margin: 50px 10px;
}

.show{
    display: block;
}



