html,
body {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: visible;
}

.no-stretch {
    flex: 0 0 auto;
}

.auto-flex {
    flex: 1 1 0;
}

.no-overflow {
    overflow: hidden;
}

@media (min-width: 1255px) {
    .full-screen {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .rest-of-page {
        flex: 1 1 0;
    }
}

#stripe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
}

.vertical-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

#logo * {
    margin: 0 10px;
    line-height: auto;
}

#logo h1 {
    text-shadow: 0px 1px 1px #636e72;
}

.side-borders {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

a,
a:hover {
    text-decoration: none !important;
}

#stripe a,
#stripe a:hover {
    color: #000 !important;
}

nav a {
    font-size: 18pt;
    padding: 0 10px;
}

#carousel {
    max-height: 100%;
}

.carousel-caption {
    bottom: 35% !important;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 14pt;
    padding: 5px !important;
}

.carousel-caption h3 {
    font-size: 20pt;
    font-weight: 400;
}

.crop {
    border-radius: 20px;
    display: grid;
    margin: 0 10px;
    width: 280px;
    height: 280px;
}

.zoom {
    align-self: center;
    min-height: 280px;
    width: 280px;
    transition: transform .2s;
}

.panner {
    font-size: 40pt;
    margin: 30px;
}

.active {
    color: rgba(226, 226, 226, 0.521);
}

#panLeft {
    left: 40px;
}

#panRight {
    right: 40px;
}

.zoom:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.space {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
}

#inspo-scroller {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/black-bg.jpg');
    color: #fff;
}

#scrolling-images {
    flex-wrap: nowrap;
}

.text-box {
    margin: 1% 7%;
}

h1.raleway {
    font-size: 60pt;
    text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
}

.image-container {
    flex-wrap: nowrap !important;
    border-radius: 50px;
}

.center-text {
    text-align: center;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

h1.playfair {
    font-size: 300%;
    font-weight: 700;
}

p.raleway {
    font-size: 150%;
    margin: 1% 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

/* @keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
} */

.close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.previous {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.next {
    position: absolute;
    top: 50%;
    right: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-button:hover,
.close-button:focus,
.next:hover,
.next:focus,
.previous:hover,
.previous:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#customizer-current img {
    height: 200px;
    width: 200px;
}

#customizer-current {
    height: 100%;
    overflow-y: auto;
}

#customizer-menu {
    margin: 0 30px;
    background-color: black;
    color: white;
}

#customizer-menu .selectable:hover {
    cursor: pointer;
    background-color: #2c2727;
}

#customizer-menu .selected {
    background-color: #fff;
    color: #000;
}

.modal span {
    z-index: 1000;
}

.options {
    justify-content: flex-start;
    text-align: left;
}

.options .selectable {
    height: 200px;
    width: 200px;
    display: inline-flex;
    position: relative;
}

.options .selectable * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.alt-text {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    line-height: 200px;
    background: rgba(0, 0, 0, 0.616);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.options .selected .alt-text {
    background: rgba(104, 104, 104, 0.616);
    color: rgb(0, 0, 0);
    font-weight: bold;
    visibility: visible;
    opacity: 1;
}

.options .selectable:hover {
    cursor: pointer;
    position: relative;
    height: 200px;
    widows: 200px;
}

.options .selectable:hover .alt-text {
    visibility: visible;
    opacity: 1;
}

.options {
    margin: 0;
    height: 100%;
}

.hide {
    display: none;
}

#customizer-info h3 {
    font-weight: 100 !important;
    font-size: 24pt;
    margin: 50px 10px;
    font-weight: 900;
}

.myShow {
    display: inline-block;
}

.menu {
    height: 100%;
}

.creator {
    justify-content: space-around;
    align-content: center;
}

.all-borders {
    margin: 0;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0px 1px 4px -2px #000;
}

#visualizator {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.vis-img {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dnd {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.vis-img img {
    height: 100%;
}

.shiny-button {
    position: relative;
    padding: 15px 25px;
    background-color: #ecf0f1;
    background-image: linear-gradient(#ecf0f1, #bdc3c7);
    color: #000;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px -2px #000;
    text-shadow: 0px -1px #333;
}

#ready {
    background-image: linear-gradient(#000, #161616);
    color: white;
}

#ready:hover {
    background-image: linear-gradient(#ecf0f1, #bdc3c7);
    color: #000;
    cursor: pointer;
}

#text-options .shiny-button {
    margin: 10px;
}

.shiny-button:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.shiny-button:hover {
    background-image: linear-gradient(#000, #161616);
    color: #fff;
    cursor: pointer;
}

#save-design * {
    font-size: 16pt;
}

.cookie {
    font-family: 'Cookie', cursive;
}

.sancreek {
    font-family: 'Sancreek', cursive;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.button-container * {
    font-size: 14pt;
    margin: auto 5px;
}

#add-text-button {
    margin: 20px;
}

.dnd:hover {
    cursor: pointer;
}

#font-size i {
    font-size: 24pt;
    margin: 0 10px;
}

.fs16 p {
    font-size: 16pt;
}

#platform-title {
    border-bottom: 3px solid black;
}

.va-center{
    display: flex !important;
    height: 100% !important;
    justify-content: center !important;
}

#platform h1 {
    margin: 0 30;
}

#content-footer {
    height: 100px;
    background-color: #000;
    color: #fff;
    align-content: center;
}

footer img {
    height: 50px;
    margin: 0 10px;
}

.fas,
.fab {
    padding: 10px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.fas:hover,
.fab:hover {
    opacity: 0.7;
}

.fa-check{
    color: #000;
    font-size: 30px;
}